
{% extends "base.html" %}
{% block title %} Strona główna {% endblock %}

{% block content %}

{% include "navbar.html" %}

{%if user.is_authenticated%}
<p>Witaj, {{user.username}}</p>
{%endif%}


<form method="POST">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="opublikuj">
</form>

{% for tweet in tweets %}

<table>
    <tr>
        <td>{% if tweet.author.userprofile.avatar.url %}
            <img src="{{tweet.author.userprofile.avatar.url}}" alt="avatar"> {%else%} Brak {% endif %}
        </td>
        <td>{{ tweet.author }}</td>
        <td>{{ tweet.creation_date }}</td>
        <td>{{ tweet.content }}</td>
    </tr>
</table>

{% endfor %}
{% endblock %}